{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block extra_style %}

ul > li {
    list-style-type: none;
    padding: 1px 0;
}

li, dt, dd {
    color: var(--body-quiet-color);
    font-size: 13px;
    line-height: 20px;
}

ul.errorlist li {
    color: red;
    background-color: #B3B6B7;
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
    overflow-wrap: break-word;
}

{% endblock %}

{% block body %}
<div class="container">
    <div class="card" style="background-color: #A9CCE3;">
        <div class="card-header text-center">
            <h2 style="font-size: 1.5rem;">{% trans "Register" %}</h2>
        </div>
        <div class="card-body">
            <center>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {% for field in form %}
                            {{ field.errors }}
                            <h2>{{ field.label_tag }}</h2>{{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        {% endfor %}
                    </div><br>
                    <input type="submit" value="{% trans "Register" %}">
                </form><br>
                <p>{% trans "Do You Have Account?" %}
                    <a href="{% url 'customer:login' %}">{% trans "Login" %}</a>
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}
