{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block body %}
    <div class="card my-4 mx-4" style="width:400px">
        <img class="card-img-top" src="/media/{{ product.image }}" alt="{{ product.title_en}}" style="width:100%">
        <div class="card-body" style="text-align:center;">
            <h2 class="card-title">{{ product.title }}</h4>
            <p class="card-text">
                {% if product.check_discount %}
                    <del style="color: tomato;">({{ product.readable_price }})</del>
                {% endif %}
                <strong>{{ product.readable_final_price }}</strong> {% trans "Toman" %}
                <br>
            </p>
            {% for key, value in product.property_list.items %}
                <span><b>{{ key }}: </b> {{ value }}</span><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
