{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Details" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="card" style="background-color: #A9CCE3;">
        <div class="card-header text-center">
            <img src="/media/{{ product.image }}" alt="{{ product.title_en }}" 
                style="border-radius: 50%; width: 25rem; height: 25rem;">
            <h2 style="font-size: 1.5rem;">{{ product.title }}</h2>
            {% if product.check_discount %}
                <del style="color: tomato;">({{ product.readable_price }})</del>
            {% endif %}
            <strong style="font-size: 1.25rem;">
                {{ product.readable_final_price }}
            </strong> {% trans "Toman" %}<br>

            <br><hr style="background-color: #1B2631;">
            
            <h3><i class="gb gb_info"></i> {% trans "Details" %}:</h3>
            {% for key, value in product.property_list.items %}
                <span><b>{{ key }}: </b> {% if value %}{{ value }}{% else %}-{% endif %}</span><br>
            {% endfor %}

            <br>

            {% if product.inventory > 0 %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <input type="submit" value="{% trans "Add to Cart" %}">
                </form><br>
            {% else %}
                <h2>{% trans "Unavailable" %}! ):</h2>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
