{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block extra_style %}
    .card{
        margin: 5% 0%;
    }

    .card-body{
        margin: 0% 0% 0% 3%;
        padding: 6% 0%;
    }
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Card deck -->
    <div class="card-deck row">
        {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Card -->
                <div class="card" style="bottom: 1.5rem;">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="/media/{{ product.image }}" alt="{{ product.title_en}}" style="height: 12rem">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body" style="text-align: center;">
                        <!--Title-->
                        <h2 class="card-title">{{ product.title }}</h2>
                        <!--Text-->
                        <p class="card-text">
                            {% if product.check_discount %}
                                <del style="color: tomato;">({{ product.readable_price }})</del>
                            {% endif %}
                            <strong>{{ product.readable_final_price }}</strong> {% trans "Toman" %}
                        </p>
                        
                        <a href="{% url 'product:details' product.slug %}" class="btn" style="background-color: #A9CCE3;">
                            {% trans "More Informations" %}
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>

    <!-- Pagination -->
    <div style="text-align: center;">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn" style="background-color: #A9CCE3;">
                &laquo; {% trans "First" %}
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn" style="background-color: #A9CCE3;">
                &lsaquo; {% trans "Previous" %}
            </a>
        {% else %}
            <a class="btn disabled" style="background-color: #A9CCE3;">
                &laquo; {% trans "First" %}
            </a>
            <a class="btn disabled" style="background-color: #A9CCE3;">
                &lsaquo; {% trans "Previous" %}
            </a>
        {% endif %}

        <a class="btn disabled" style="background-color: #A9CCE3;">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        </a>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn" style="background-color: #A9CCE3;">
                {% trans "Next" %} &rsaquo;
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn" style="background-color: #A9CCE3;">
                {% trans "Last" %} &raquo;
            </a>
        {% else %}
            <a class="btn disabled" style="background-color: #A9CCE3;">
                {% trans "Next" %} &rsaquo;
            </a>
            <a class="btn disabled" style="background-color: #A9CCE3;">
                {% trans "Last" %} &raquo;
            </a>
        {% endif %}
    </div>

</div>
{% endblock %}
