{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block body %}
    <div class="col-12 col-md-6 col-lg-3">
        <!-- Card -->
        <div class="card" style="bottom: 1.5rem;">
            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="/media/{{ product.image }}" alt="{{ product.title_en}}" style="height: 12rem">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body" style="text-align: center;">
                <!--Title-->
                <h2 class="card-title">{{ product.title }}</h2>
                <!--Text-->
                <p class="card-text">
                    {% if product.check_discount %}
                        <del style="color: tomato;">({{ product.readable_price }})</del>
                    {% endif %}
                    <strong>{{ product.readable_final_price }}</strong> {% trans "Toman" %}
                    <br>
                </p>
                {% for key, value in product.property_list.items %}
                    <span><b>{{ key }}: </b> {% if value %}{{ value }}{% else %}-{% endif %}</span><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
