{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Cart" %}{% endblock %}

{% block extra_style %}

ul > li {
    list-style-type: none;
    padding: 1px 0;
}

li, dt, dd {
    color: var(--body-quiet-color);
    font-size: 13px;
    line-height: 20px;
}

ul.errorlist li {
    color: red;
    background-color: #B3B6B7;
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
    overflow-wrap: break-word;
}

{% endblock %}

{% block body %}
<div class="container" style="text-align: center;">

{% comment %} {% if msgs %}
<ul class="errorlist">
    {% for msg in msgs %}
        {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <li {% if msg.tags %}class="{{ msg.tags }}"{% endif %}>{{ msg }}</li>
        {% endif %}
    {% endfor %}
</ul>

<br>

{% endif %} {% endcomment %}

{% if order %}
<div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th style="text-align: center; font-size: 1rem;">#</th>
            <th style="text-align: center; font-size: 1rem;">{% trans "Product" %}</th>
            <th style="text-align: center; font-size: 1rem;">{% trans "Count of Order Item" %}</th>
            <th style="text-align: center; font-size: 1rem;">{% trans "Change Item" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {{ item.0.non_field_errors }}
                <form id="item{{ item.1.id }}">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {% for hidden in item.0.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.1.product.title }}</td>
                        {% for field in item.0.visible_fields %}<td>{{ field }}</td>{% endfor %}
                        {% comment %} <td>
                            <input type="submit" value="{% trans "Change Count" %}">
                            <a href="{% url 'order:remove' %}?item={{ item.1.id }}"
                            class="btn" style="background-color: tomato;">
                                {% trans "Remove" %} <i class="gb gb_delete"></i>
                            </a>
                        </td> {% endcomment %}
                    </div>
                </form>
                <td>
                    <button class="btn btn-success" onclick="ChangeCount({{ item.1.id }}, {{ forloop.counter0 }})">
                        {% trans "Change Count" %} <i class="gb gb_done"></i>
                    </button>
                    <a href="{% url 'order:remove' %}?item={{ item.1.id }}"
                    class="btn" style="background-color: tomato;">
                        {% trans "Remove" %} <i class="gb gb_delete"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr><br>
    <strong>
        <p>{% trans "Total Price" %}:
            <span id="total">{{ order.readable_total_price }}</span> {% trans "Toman" %}
        </p>
        <p>{% trans "Final Price" %}:
            <span id="final">{{ order.readable_final_price }}</span> {% trans "Toman" %}
        </p>
    </strong>

    {{ form.non_field_errors }}
    <form id="basket">
        {% csrf_token %}
        <div class="fieldWrapper">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <h2><label for="id_address">{% trans "Address" %}:</label></h2>
            <select class="form-control" name="address" id="id_address">
                {% for address in addresses %}
                    {% if address.id == order.address.id %}
                        <option value="{{ address.id }}" selected>{{ address }}</option>
                    {% else %}
                        <option value="{{ address.id }}">{{ address }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <p class="help">{% trans "Please Select Address to Send Order There" %}</p>

            <a href="{% url 'customer:address' %}?cart=True">
                <i class="gb gb_add_location"></i> {% trans "Add New Address" %}
            </a>

            {% for field in form.visible_fields %}
                {{ field.errors }}
                <h2>{{ field.label_tag }}</h2>{{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        </div><br>
        {% comment %} <input type="submit" value="{% trans "Apply Changes" %}"> {% endcomment %}
    </form>

    <button class="btn btn-success mb-4" id="offcode">
        {% trans "Apply Changes" %} <i class="gb gb_done"></i>
    </button><br>

    <a href="{% url 'order:change' %}?order={{ order.id }}&status=P"
    class="btn" style="background-color: #A9CCE3;">
        {% trans "Payment" %} <i class="gb gb_payment"></i>
    </a>
    <a href="{% url 'order:change' %}?order={{ order.id }}&status=C"
    class="btn" style="background-color: tomato;">
        {% trans "Cancel" %} <i class="gb gb_cancel"></i>
    </a>
</div>
{% else %}
<h2 style="font-size: 2rem;">{% trans "Empty Basket" %}!</h2>
<i class="gb gb_sentiment_very_satisfied mt-2" style="font-size: 15rem;"></i>
<h2 style="font-size: 2rem;">{% trans "Hope to Buy Again" %}...</h2>
{% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
function ChangeCount(id, index) {
    $.post(`{% url "order:count" %}?item=${id}`, $(`#item${id}`).serialize(), function(result) {
        if(result.code == 1) {
            document.getElementById("total").innerHTML = result.data.total;
            document.getElementById("final").innerHTML = result.data.final;
        } else {
            alert(result.data);
            document.getElementsByName("count")[index].value = result.count;
        }
    })
}

$(document).ready(function() {
    $("#offcode").click(function() {
        $.post('{% url "order:cart" %}', $("#basket").serialize(), function(result) {
            if(result.code == 1) {
                $.post('{% url "order:cart" %}', $("#basket").serialize(), function(result){
                    document.getElementById("final").innerHTML = result.data;
                })
            } else {
                alert(result.data);
                document.getElementById("id_code").value = '';
            }
        });
    });
});
</script>
{% endblock  %}
