{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Change Item" %}{% endblock %}

{% block extra_style %}

ul > li {
    list-style-type: none;
    padding: 1px 0;
}

li, dt, dd {
    color: var(--body-quiet-color);
    font-size: 13px;
    line-height: 20px;
}

ul.errorlist li {
    color: red;
    background-color: #B3B6B7;
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
    overflow-wrap: break-word;
}

{% endblock %}

{% block body %}
<div class="container" style="text-align: center;">

<h2 style="font-size: 2rem;">{% trans "Product Title" %}: {{ product.title }}</h2>

<div>

    {{ form.non_field_errors }}
    <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                <h2>{{ field.label_tag }}</h2>{{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        </div><br>
        <input type="submit" value="{% trans "Change Count" %}">
    </form>
    
    <br>

    <a href="{% url 'order:remove' %}?item={{ item }}"
    class="btn" style="background-color: tomato;">
        {% trans "Remove" %}
    </a>

</div>

{% endblock %}
